<include file="Public/header" title="pgyidc" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/asDatepicker.css">
<script src="__PUBLIC__/assets/js/jquery-asDatepicker.js" type="text/javascript"></script>
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size: 14px;border-top: 2px solid #28b779;font-size: 14px;background: #eee;}
.nav-tabs>li>a{font-size:14px;}
body{background: #eee !important;}
.myalert-wrap{width: 100%;min-height:100%;position: relative;}
.myalert-main{width: 100%;overflow: hidden;}
/*基本信息*/
/*基本信息*/
.form-line{height: 40px;line-height: 40px;margin: 10px 0;}
.form-label{display:inline-block;width: 150px;text-align: right;font-weight: bold;}
.w50{width: 50%;text-align: left;}
.form-content{width: 700px;text-align: left;display: inline-block;}
.form-control{display: initial;}
.tab-content{padding: 10px;}
/*layui*/
.layui-tab{margin: 0;}
.layui-tab-title{background: #fff;}
.layui-tab-title .layui-this{color: #28b779;background: #eee;}
.layui-tab-title .layui-this:after{border-bottom-color:transparent;border-top-color: #28b779;}
.calendar-icon{border: initial;}
.calendar_active .calendar-icon{border: initial;}
.calendar-input{border:1px solid #ccc;}
</style>
<script>
$(function(){
    //多选
    $('.moreoption').click(function(){
        $(this).closest('.form-content').find('.mulselect').toggle();
    })
    
    document.addEventListener('click',function (e) {
        var parent=$(e.target).parents('.form-content,.mulselect');
        if(parent.length===0){
            $('.mulselect').hide();
        }
    })
    $('.mulselect').change(function(){
        var selecteds="";
        $(this).children('option:selected').each(function(){
            selecteds+=$(this).text()+',';
        })
        selecteds=selecteds.substring(0,selecteds.length-1);
        $(this).closest('.form-content').find('input').val(selecteds);
        $(this).closest('.form-content').find('.moreoption').html(selecteds+'<i class="fa fa-sort-desc fr" style="position: absolute;top: 10px;right: 5px;"></i>');
    })
    $('.moreoption').hover(function(){
        $(this).attr('title','按住Ctrl多选');
    })
    //香型-标准
    $("select[name='smell']").change(function(){
        var smell=$(this).children("option:selected").val();
        $.post("/Admin/Product/getstandard",{"smell":smell},function(data,status){
            data=JSON.parse(data);
            var shelfcon='<option value="">--请选择--</option>';
            for(var i in data){
                shelfcon+='<option>'+data[i]+'</option>';
            }
            $("select[name='standard']").html(shelfcon);
        })
    })
    //时间
    $("input[name='buytime']").asDatepicker();
    $("input[name='buytime']").val($('.buytime').val());
    //上传图片
    $('.upload').click(function(){
        $('.file').click();
    })
    $(".file").bind('change', function () {
        var filedata=new FormData(document.getElementById("fileform"));
        $.ajax({
　　　　　　　　url : '/Admin/Product/uploadimg', 
　　　　　　　　type : "post",
　　　　　　　　data : filedata, //第二个Form表单的内容
　　　　　　　　processData : false,
　　　　　　　　contentType : false,
　　　　　　　　error : function(request) {
　　　　　　　　},
　　　　　　　　success : function(data) {
　　　　　　　　　　$("input[name='img']").val(data);
                  $('.idimg').attr("src",data);
　　　　　　　  }
　　　　　});
    });
})
</script>
<!-- 弹窗(新增角色)-->
<div class="myalert-content">
<div class="myalert-wrap">
<div class="myalert-main">
    <form class="mform">
        <div class="form-line w50 fl">
            <span class="form-label" style="position: relative;bottom: 7px;">产品类型：</span>
            <div class="form-content" title="按住ctrl多选" style="width: 250px;">
                <span class="moreoption form-control" style="display: inline-block;overflow: hidden;position: relative;line-height: 1.6;top:3px;">{$proinfo.type}<i class="fa fa-sort-desc fr" style="position: absolute;top: 10px;right: 5px;"></i></span>
                <select multiple class="form-control mulselect" style="width: 250px;position: absolute;display: none;margin-top: -12px;">
                    <option>8大名酒</option>
                    <option>17大名酒</option>
                    <option>53优名酒</option>
                    <option>其它</option>
                </select>
                <input name="type" type="hidden" value="{$proinfo.type}">    
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">产品名称：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="name" value="{$proinfo.name}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">生产厂家：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="vender" value="{$proinfo.vender}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">年份：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="time" value="{$proinfo.time}">
            </div> 年
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">香型：</span>
            <div class="form-content" style="width: 250px;">
                <select class="form-control" name="smell">
                    <option value="">--请选择--</option>
                    <foreach name="smelllist" item="vo">
                        <option <php>if($vo['smell']==$proinfo['smell']){echo 'selected';}</php>>{$vo.smell}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">执行标准：</span>
            <div class="form-content" style="width: 250px;">
                <select class="form-control" name="standard">
                    <option value="">--请选择--</option>
                    <option selected>{$proinfo.standard}</option>
                </select>
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">酒线酒花：</span>
            <div class="form-content" style="width: 250px;">
                <select class="form-control" name="line">
                    <option value="">--请选择--</option>
                    <option <if condition="$proinfo.line eq '完美'">selected</if>>完美</option>
                    <option <if condition="$proinfo.line eq '合格'">selected</if>>合格</option>
                    <option <if condition="$proinfo.line eq '喝品'">selected</if>>喝品</option>
                    <option <if condition="$proinfo.line eq '废品'">selected</if>>废品</option>
                </select>
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">度数：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="degree" value="{$proinfo.degree}">
            </div>度
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">购买时间：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="buytime" value="{$proinfo.buytime}">
                <input class="buytime" type="hidden" value="{$proinfo.buytime}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">购买人：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="buyperson" value="{$proinfo.buyperson}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">购买价格：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="price" value="{$proinfo.price}">
            </div> 元
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">销售价格：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="saleprice" value="{$proinfo.saleprice}">
            </div> 元
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">数量：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="num" value="{$proinfo.num}">
            </div> 瓶
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">当前状态：</span>
            <div class="form-content" style="width: 250px;">
                <select class="form-control" name="status">
                    <option value="">--请选择--</option>
                    <option <if condition="$proinfo.status eq '库存'">selected</if>>库存</option>
                    <option <if condition="$proinfo.status eq '喝掉'">selected</if>>喝掉</option>
                    <option <if condition="$proinfo.status eq '送人'">selected</if>>送人</option>
                </select>
            </div>
        </div>
        <div class="form-line fl" style="height: 74px;">
            <span class="form-label" style="position: relative;bottom: 35px;">产品描述：</span>
            <div class="form-content" style="width: 700px;">
                <textarea class="form-control" rows="3" name="descr">{$proinfo.descr}</textarea>
            </div>
        </div>
        <div class="form-line fl">
            <span class="form-label">产品图片：</span>
            <div class="form-content" style="width:618px;">
                <input type="text" name="img" class="form-control" readonly value="{$proinfo.img}">
            </div>
            <a class="btn btn-primary upload" style="position: relative;bottom: 1px;">上传</a>
        </div>
        <img class="idimg" style="margin-left:150px;max-height: 150px;display: block;" src="{$proinfo.img}">
    </form>
    <form class="fileform" id="fileform">
        <input type="file" name="file" class="file" id="fileField" size="28" style="display: none;">
    </form>
</div>
</div>
</div>
<include file="Public/footer" title="pgyidc" />